export ENDPOINT_MONITOR_LOG_LEVEL=debug
export ENDPOINT_MONITOR_PROVIDERS=goerli,mainnet
export ENDPOINT_MONITOR_GOERLI_URL=wss://ws-goerli.optimism.io
export ENDPOINT_MONITOR_MAINNET_URL=wss://ws-mainnet.optimism.io
