body
  --text-color $textColor
  --bgcolor $bgColor
  --bgcolor-light $bgColorLight
  --border-color $borderColor
  --code-bgcolor $codeBgColor
  --arrow-bgcolor $arrowBgColor
  --box-shadow-color $boxShadowColor
  --card-shadow-color $cardShadowColor
  --text-color-l10 lighten($textColor, 10%)
  --text-color-l20 lighten($textColor, 20%)
  --text-color-l25 lighten($textColor, 25%)
  --text-color-l40 lighten($textColor, 40%)
  --black #000
  --dark-grey #666
  --light-grey #999
  --white #fff
  --grey3 #333
  --grey12 #bbb
  --grey14 #eee

body.theme-light
  --text-color $textColor
  --bgcolor $bgColor
  --bgcolor-light $bgColorLight
  --bgcolor-blur $bgColorBlur
  --border-color $borderColor
  --code-bgcolor $codeBgColor
  --arrow-bgcolor $arrowBgColor
  --box-shadow-color $boxShadowColor
  --card-shadow-color $cardShadowColor
  --text-color-l10 lighten($textColor, 10%)
  --text-color-l20 lighten($textColor, 20%)
  --text-color-l25 lighten($textColor, 25%)
  --text-color-l40 lighten($textColor, 40%)
  --black #000
  --dark-grey #666
  --light-grey #999
  --white #fff
  --grey3 #333
  --grey12 #bbb
  --grey14 #eee

body.theme-dark
  --text-color $darkTextColor
  --bgcolor $darkBgColor
  --bgcolor-light $darkBgColorLight
  --bgcolor-blur $darkBgColorBlur
  --border-color $darkBorderColor
  --code-bgcolor $darkCodeBgColor
  --arrow-bgcolor $darkArrowBgColor
  --box-shadow-color $darkBoxShadowColor
  --card-shadow-color $darkCardShadowColor
  --text-color-l10 lighten($darkTextColor, 10%)
  --text-color-l20 lighten($darkTextColor, 20%)
  --text-color-l25 lighten($darkTextColor, 25%)
  --text-color-l40 lighten($darkTextColor, 40%)
  --black #fff
  --dark-grey #999
  --light-grey #666
  --white #000
  --grey3 #ccc
  --grey12 #333
  --grey14 #111
