body
  --accent-color $accentColor
  --accent-color-l10 lighten($accentColor, 10%)
  --accent-color-d10 darken($accentColor, 10%)
  --accent-color-a15 alpha($accentColor, 15%)

theme-color($themeColor, $colorName)
  body.theme-{$colorName}
    --accent-color $themeColor
    --accent-color-l10 lighten($themeColor, 10%)
    --accent-color-d10 darken($themeColor, 10%)
    --accent-color-a15 alpha($themeColor, 15%)

for key, value in $colorPicker
  theme-color(value, key)
