export DEPLOYMENT_CONTEXT=cel2-testnet
export IMPL_SALT=$(openssl rand -hex 32)

export L1_RPC=https://rpc-sepolia.rockx.com/
export L1_RPC_KIND=any

# The following keys shoud not be visible in a public repo and have therefore
# been moved to a separate file which is not added to git.
[ -f .env.secret ] && source .env.secret
# export ADMIN_PRIVKEY=...
# export PROPOSER_PRIVKEY=...
# export BATCHER_PRIVKEY=...
# export SEQUENCER_PRIVKEY=...
# export L1_RPC=https://eth-sepolia.g.alchemy.com/v2/...
# export L1_RPC_KIND=alchemy

export ADMIN_ADDR=0x240B9A578bD7E82F4a078FB9609e99d6E3e0e5e3
export PROPOSER_ADDR=0x6F0fF8717D1a5C1c0519Dd4Fc78915DfdA47A54F
export BATCHER_ADDR=0x7C308BC6B7C11443c8BD5557B4D40c25a4650310
export SEQUENCER_ADDR=0x4f90ca6e2dD0FbBceC02F86dF69f0d6633cd2533

export L1_BRIDGE=0x0000000000000000000000000000000000000000
export L2OO_ADDRESS=0x797131CD2bBcE80Ac7D1A4Fea63d2fc42cbEDd40
export SEQUENCER_BATCH_INBOX_ADDRESS=0xff00000000000000000000000000000000042070

export MONITORING_SLACK_CHANNEL=C04PCPVQJLE
