# CODEOWNERS can be disruptive because it automatically requests review from individuals across the
# board. We still like to use this file to track who's working on what, but all lines are commented
# out so that GitHub won't trigger review requests.

# l2geth/                             @smartcontracts @tynes @karlfloersch
# packages/specs/l2geth/              @smartcontracts @tynes @karlfloersch
# packages/contracts/                 @smartcontracts @ben-chain @maurelian @elenadimitrova
# packages/specs/protocol/            @smartcontracts @ben-chain @maurelian
# ops/                                @tynes @karlfloersch
# packages/core-utils/                @smartcontracts @annieke @ben-chain
# packages/common-ts/                 @annieke
# packages/message-relayer/           @K-Ho
# packages/batch-submitter/           @annieke @karlfloersch
# packages/data-transport-layer/      @annieke
# packages/replica-healthcheck/       @annieke
# integration-tests/                  @tynes
