@import 'index.scss';

.B {
  font-family: MessinaMonoBold;
  font-style: unset;
  color: $bunnyRed;
}

.MainBar {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 15px;
  @include mobile {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }
}

.MainLeft {
  width: 490px;
  font-size: 1.3em;
  color: $gray3;
  margin-top: 5px; 
  margin-bottom: 5px;
  padding: 3px;
  @include mobile {
    width: unset;
    font-size: 1.2em;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.MainRightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/*the actual button*/
.MainRight {
  width: 250px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 15px;
  background: $blue;
  cursor: pointer;
  @include mobile {
    flex-direction: column;
    width: 70%;
  }
  animation: pulseAnimation 2s infinite;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@keyframes pulseAnimation {
  0% {
    background: #4995ff;
  }
  100% {
  }
}

/*this is just the text*/
.MainButton {
  color: white;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin: -1em;
  margin-left: -3em;
  margin-right: -3em;
  cursor: pointer;
  &.disabled {
    pointer-events: none;
  }
}

.MainRightSecond {
  width: 200px;
  border-radius: 5px;
  margin-top: 20px;
  transition: all 200ms ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 5px;
  background: #4995ff;
  cursor: pointer;
  @include mobile {
    flex-direction: column;
    width: 70%;
  }
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

.MainButtonSecond {
  color: white;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin: -1em;
  margin-left: -3em;
  margin-right: -3em;
  cursor: pointer;
  &.disabled {
    pointer-events: none;
  }
}

.disabledMM {
  padding-top: 5px;
  font-size: 0.9em;
  color: $red;
}

.VPBar {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  @include mobile {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.VPTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: $gray7;
  border-radius: 3px;
  @include mobile {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .VPText {
    font-family: 'Messina';
    font-size: 1.0em;
    font-style: italic;
    color: $gray4;
    margin-top: 5px; 
    padding: 8px;
  }

  .VPImage {
    width: 100px;
  }
}

.Note {
  font-family: 'Messina';
  font-size: 0.8em;
  font-style: italic;
  color: $gray4;
  margin-top: 5px; 
  margin-bottom: 5px;
  padding: 3px;
}

.Title {
  font-family: 'Messina';
  font-size: 0.9em;
  color: $gray4;
  margin-top: 5px; 
  margin-bottom: 5px;
  padding: 3px;
}

.WalletPicker {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  font-family: 'Messina';
  margin-bottom: 50px;

  @include mobile {
    font-size: 0.9em;
    padding: 10px;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    @include mobile {
      flex-direction: column;
    }
    img {
      margin-bottom: 20px;
      height: 60px;
      @include mobile {
        height: 50px;
      }
    }
    .menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      z-index: 1;
      position: relative;
      @include mobile {
        width: 100%;
        justify-content: space-between;
      }
      a {
        cursor: pointer;
      }
      .chevron {
        transform: rotate(90deg);
        transition: all 200ms ease-in-out;
        height: 20px;
        margin-bottom: 0;
        &.open {
          transform: rotate(-90deg);
        }
      }
      .dropdown {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 27px;
        @include mobile {
          right: unset;
          left: 10px;
          width: 150px;
        }
        a {
          background-color: $gray3;
          transition: all 200ms ease-in-out;
          padding: 10px 15px;
          cursor: pointer;
          &:hover {
            background-color: $gray2;
          }
        }
      }
      .network {
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        .indicator {
          margin-right: 5px;
          width: 5px;
          height: 13px;
          background-color: #2A308E;
          border-radius: 4px;
        }
      }
    }
  }

.directive {
  margin-bottom: 0px;
  font-size: 1.2em;
}

  .loader {
    display: flex;
    flex-direction: column;
    .button {
      margin-top: 20px;
      align-self: center;
    }
  }
}

.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}