
for $themeColorName, $themeColor in $colorPicker
  .theme-{$themeColorName}
    #nprogress
      .bar
        background $themeColor

      .peg
        box-shadow 0 0 10px $themeColor, 0 0 5px $themeColor

      .spinner-icon
        border-color $themeColor
