.DS_Store
node_modules
results
temp
.nyc_output
coverage.json
*.tsbuildinfo
yarn.lock
*yarn.lock

dist
artifacts
artifacts-ovm
cache
cache-ovm

l2geth/build/bin

packages/contracts/deployments/custom
packages/contracts/coverage*
packages/contracts/@ens*
packages/contracts/@openzeppelin*
packages/contracts/hardhat*

packages/data-transport-layer/db

packages/omgx/gas-price-oracle/data

packages/omgx/wallet-frontend/build
packages/omgx/wallet/wallet/build

# vim
*.swp

.env
.env-docker
env.js
env.yml
env-rinkeby.yml
env-mainnet.yml
*.log

.serverless

# subgraph
build
generated

packages/omgx/subgraph/L1/yarn.lock
packages/omgx/subgraph/L2/yarn.lock
packages/omgx/subgraph/L1/bin
packages/omgx/subgraph/L2/bin