.DS_Store
node_modules
results
temp
.nyc_output
coverage.json
*.tsbuildinfo

dist
artifacts
cache

l2geth/build/bin
packages/contracts/deployments/custom
packages/contracts/coverage*
packages/contracts/@ens*
packages/contracts/@openzeppelin*
packages/contracts/hardhat*

packages/data-transport-layer/db

# vim
*.sw*

.env
.env*
!.env.example
*.log
