hoist-pattern[]=!**/typechain/*
hoist-pattern[]=!**/@typechain/*
hoist-pattern[]=!@eth-optimism/contracts-bedrock/ds-test
hoist-pattern[]=!@eth-optimism/contracts-bedrock/forge-std
hoist-pattern[]=!@eth-optimism/contracts-bedrock/@rari-capital/solmate
hoist-pattern[]=!@openzeppelin
hoist-pattern[]=!@eth-optimism/contracts-periphery/ds-test
hoist-pattern[]=!@eth-optimism/contracts-periphery/forge-std
hoist-pattern[]=!@eth-optimism/contracts-periphery/@rari-capital/solmate
hoist-pattern[]=!forta-agent
