go 1.18

use (
	./batch-submitter
	./bss-core
	./endpoint-monitor
	./gas-oracle
	./indexer
	./l2geth
	./l2geth-exporter
	./op-batcher
	./op-bindings
	./op-chain-ops
	./op-e2e
	./op-exporter
	./op-node
	./op-proposer
	./op-service
	./proxyd
	./teleportr
)

// TODO: this temporarily pulls in the dynamic gas limit changes in op-geth for CI.
// We need to merge op-geth PR 22 and update geth references across the monorepo.
replace github.com/ethereum/go-ethereum v1.10.23 => github.com/ethereum-optimism/op-geth v0.0.0-20221104125741-d6c1bb9a110d

//replace github.com/ethereum/go-ethereum v1.10.23 => github.com/ethereum-optimism/op-geth v0.0.0-20221104021113-befc264446fa

// For local debugging:
//replace github.com/ethereum/go-ethereum v1.10.23 => ../go-ethereum
