@import 'index.scss';

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: flex-end;

  .button {
    margin-right: 10px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.disclaimer {
  margin-top: 20px;
}

.list {
  height: 160px;
  overflow-y: auto;
  margin-bottom: 10px;
  .utxo {
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 25px;
    background-color: $gray3;
    border-bottom: 2px solid $gray4;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    .title {
      flex: 1
    }
    .value {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
      .check {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  .selected {
    background-color: $gray2;
    color: $gray6;
  }
}