@import 'index.scss';

$dropDownHeight: 92px;

.ListNFT {

  .topContainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .Table1 {
      display: flex;
      justify-content: center;
      align-items: center;
      .Image {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        margin: 10px;
      }
    }
    .Table2 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 10px;
      padding-left: 10px;
      min-width: 250px;
    }
    .Table3 {
      display: flex;
      width: 120px;
      justify-content: center;
      align-items: center;
    }
  }

  .dropDownContainer {
    animation: openDropDown 1s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  .closeDropDown {
    height: 0px;
    animation: closeDropDown 1s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .dropDownInit {
    height: 0px;
    overflow: hidden;
  }

  .boxContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .boxOrigin {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 0px;
    margin: 0px;
    align-items: center;
    .Image {
      width: 75px;
      height: 75px;
      border-radius: 10px;
      padding: 0px;
    }
    .originRight {
      flex-direction: column;
      padding-left: 6px;
    }
  }

  /*************************/
  @keyframes openDropDown {
    0% {
      height: 0px;
    }
    100% {
      height: $dropDownHeight;
    }
  }

  @keyframes closeDropDown {
    0% {
      height: $dropDownHeight;
    }
    100% {
      height: 0px;
    }
  }

  /*************************/
  .BasicText {
    font-size: 0.9em;
    font-weight: 700;
    color: $gray3;
  }

  .BasicTextLight {
    font-size: 0.7em;
    color: $gray4;
  }

  .LargeBlueText {
    font-size: 1.5em;
    font-weight: 700;
    color: $blue;
  }

  .LinkText {
    font-size: 1em;
    font-weight: 700;
    color: $gray4;
  }

  .LinkButton {
    color: $gray4;
  }
  /************************/

  .smallButton {
    border-radius: 10px;
    width: 100px !important;
    flex: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .largeButton {
    border-radius: 10px;
    width: calc(100% - 30px);
    flex: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
