@import 'index.scss';

.GasPicker {

  display: flex;
  flex-direction: column;

  .label {
    margin-top: 8px;
    margin-bottom: 3px;
    font-size: 0.9em;
  }

  .items {

    display: flex;
    flex-direction: row;
    justify-content: center;
  
    .category {
      display: flex;
      cursor: pointer;
      flex: 1;
      margin-right: 5px;
      flex-direction: column;
      justify-content: center;
      transition: all 100ms ease-in-out;
      padding: 5px;
      color: $gray5;
      border: 1px solid $gray4;
      font-size: 0.8em;
      .title {
        font-weight: bold;
        font-size: 01.0em;
        color: $gray6;
        padding-bottom: 3px;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  
    .selected {
      background-color: $gray3;
      border: 1px solid $blue;
    }
  }
}
