@import 'index.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 0px;
  background: $background; //white;
}

.header {
  h2 {
    // flex: 1;
    margin-bottom: 0;
    padding-left: 10px;
    color: $white; //$gray2;
  }
  display: flex;
  flex-direction: row;
  justify-content: flex-end; //space-between;
  align-items: center;
  margin-bottom: 20px;
  // background-color: $bunnyRed;
  @include mobile {
    padding-top: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.data {
  display: flex;
  flex-direction: row;
  @include mobile {
    flex-direction: column;
  }
}

.section {
  flex: 1;
  &:first-child {
    margin-right: 20px;
    @include mobile {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

.transactionSection {
  margin-bottom: 20px;
}

.disclaimer {
  color: $gray3;
  margin: 5px 10px;
  margin-top: 20px;
}

.searchBar {
  flex: 1;
  margin-bottom: 0;
  min-width: 250px;
  & > div {
    border: none !important;
  }
}

.transactions {
  /*height: 100%;*/
  overflow: auto;
  background: $background400; //white;
  // border-bottom: 1px solid rgb(233, 234, 235);
  // box-shadow: rgb(100 100 111 / 20%) 0px 7px 10px 0px;
  border-radius: 8px;
  margin-top: 10px;
  min-height: 100px;
  .transaction {
    padding: 20px 0;
    &:last-child {
      border-bottom: none;
    }
  }
}

.subTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 32px;
  span {
    margin-right: 20px;
  }
}

.processExitButton {
  color: $blue;
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .datePicker {
    flex: 1;
    margin-bottom: 0;
    min-width: 250px;
  }
}

.datePickerInput {
  background: rgba(9, 22, 43, 0.5);
  box-shadow: -13px 15px 19px rgba(0, 0, 0, 0.15),
    inset 53px 36px 120px rgba(255, 255, 255, 0.06);
  border-radius: 8px;
  width: 130px;
  margin: 0px 15px;
  position: relative;

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $white700;
    position: absolute;
    right: 10px;
    font-size: 25px;
    bottom: 15px;
  }

  input {
    background-color: transparent;
    height: 40px;
    width: 130px;
    padding: 0px 15px;
    line-height: 40px;
    border: 0;
    color: #f0a000;
    font-size: 16px;
    text-align: left;
  }
}
