@import 'index.scss';

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray6;
  padding: 15px; /*this is what makes the buttons so big*/
  flex: 1;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  /*max-width: $maxWidth;*/
  @include mobile {
    min-width: 100px;
  }
}

.small {
  padding: 7px;
  min-width: 80px;
}

.tiny {
  padding: 2px;
  min-width: 60px;
  max-width: 300px;
  justify-content: left;
}

.primary {
  background:  linear-gradient(131.81deg, #4A6FEF 2.66%, #4251F0 124.21%);//$blue;
}

.secondary {
  background-color: $gray4;
}

.outline {
  border: 1.4px solid #506DFA;///2px solid $gray4;
}

.pulsate {
  background: blue;
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    background: $blue;
    box-shadow: 0 0 0 0px $blue;
  }
  100% {
    background: blue;
    box-shadow: 0 0 0 2px blue;
  }
}

/*disabled dark blue*/
.disabled {
  filter: brightness(50%);
  cursor: initial;
  pointer-events: none;
}
