# Default owners
* @ethereum-optimism/ecosystem
  
/docs @ethereum-optimism/ecosystem @zainbacchus

/.github/workflows/     @ethereum-optimism/cloud-security
/.github/actions/       @ethereum-optimism/cloud-security
/renovate.json          @ethereum-optimism/cloud-security
/.github/renovate.json  @ethereum-optimism/cloud-security
/renovate.json5         @ethereum-optimism/cloud-security
/.github/CODEOWNERS      @ethereum-optimism/cloud-security
/.github/dependency-review-config.yml @ethereum-optimism/cloud-security
