# Version control
.github
.gitignore

# Include for vergen constants
!/.git

# Build artifacts
**/target
integration_logs

# Development files
.vscode
.env
**/*.log


# Cargo artifacts
**/.cargo
**/Cargo.lock

# Documentation
**/*.md
docs/

# Scripts that aren't needed for runtime
scripts/
tests/
**/integration