$red: #ff6868;
$yellow: #f0ba31;
$green: #0ebf9a;
$blue: #4967ff;
$maxWidth: 450px;
$red1: #ff8080;

$gray1: #101010; //v. dark gray
$gray2: #323232;
$gray3: #565656;
$gray4: #7d7d7d;
$gray5: #a6a6a6;
$gray6: #d2d2d2; //v. light gray
$gray7: #F8F8F8;

$bunnyRed: #C83950;

:export {
  red: $red;
  red1: $red1;
  yellow: $yellow;
  green: $green;
  blue: $blue;
  gray1: $gray1;
  gray2: $gray2;
  gray3: $gray3;
  gray4: $gray4;
  gray5: $gray5;
  gray6: $gray6;
  gray7: $gray7;
  bunnyRed: $bunnyRed;
  maxWidth: $maxWidth;
}

/* small screens */
@mixin tablet {
  @media screen and (max-width: 1360px) {
    @content
  }
}

@mixin mobile {
  @media screen and (max-width: 800px) {
    @content
  }
}

@mixin miniphone {
  @media screen and (max-width: 450px) {
    @content
  }
}

@font-face {
  font-family: 'Messina';
  src: url(./fonts/MessinaSans-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'MessinaMono';
  src: url(./fonts/MessinaSansMono-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'MessinaMonoSemiBold';
  src: url(./fonts/MessinaSansMono-SemiBold.ttf) format('truetype');
  src: url(./fonts/MessinaSansMono-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'MessinaMonoBold';
  src: url(./fonts/MessinaSansMono-Bold.ttf) format('truetype');
  src: url(./fonts/MessinaSansMono-Bold.woff) format('woff');
  src: url(./fonts/MessinaSansMono-Bold.woff2) format('woff2');
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  color: $gray1;
  background-color: white;
  font-family: 'MessinaMono', monospace !important;
  font-size: 14px;
}

button {
  font-family: 'MessinaMono', monospace !important;
}

input {
  font-family: 'MessinaMono', monospace;
  font-size: 0.8em;
  border: none;
  outline: none;
  border: 1px solid $gray6;
  background-color: $gray7;
  padding: 7px;
  width: calc(100% - 16px); /*not sure why this is 16???*/
  max-width: 500px;
}

input::focus {
  border: 1px solid $blue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  margin: 0;
  white-space: pre;
  font-family: 'Messina';
  font-weight: 400;
  font-size: 2em;
  color: $blue;
}

h2 {
  color: $gray2;
  font-family: 'Messina';
  font-weight: 200;
  margin: 0 0 10px 0;
  font-size: 1.5em;
  @include mobile {
    font-size: 1.2em;
  }
}

h3 {
  color: $gray2;
  font-family: 'Messina';
  margin-bottom: 3px;
  font-size: 1.1em;
  @include mobile {
    font-size: 1.0em;
  }
}

// override globals and third party libs
.walletconnect-modal__base {
  max-width: 225px !important;
}
