//colors

@import 'index.scss';

$bgColor: white;
$oceanColor: white;
$lightColor: white;
$subMarineColor: #e30449;
$lightShadowColor: #ef689e;
$lightShadowColor2: #c6003d;
$lightShadowColor3: #e92d77;
$darkShadowColor: #a10532;
$periscopeColor: #F0F78B;
$propellerColor: #f7e349;
$propellerColor2: #f7ac08;
$windowLightColor: #c9e5d9;

$seaGroundColor1:#645C90;
$seaGroundColor2:#08003b;

.Note {
  position: absolute;
  left: 10px;
  top: 30px;
  font-size: 0.8em;
  font-style: italic;
  color: $gray3;
  z-index: 10;
}

.title {
  position: absolute;
  left: 10px;
  top: 0px;
  color: $gray6;
  font-size: 1em;
  margin-bottom: 10px;
  z-index: 10;
}

.bigNumber {
  position: absolute;
  left: 10px;
  top: 70px;
  font-size: 6em;
  color: $gray4;
  z-index: 10;
}

.bigNumberLabel {
  position: absolute;
  top: 170px;
  left: 15px;
  font-size: 0.8em;
  z-index: 10;
}

//sizes
.seaContainer {
  position: relative;
  top: 0%;
  left: 0%;
  width: 333px;
  height: 232px;
  @include mobile {
    width: 100%;
  }
  background: $oceanColor;
  overflow: hidden;
}
.submarine__container {
  position: absolute;
  top: 50%;
  left: 70%;
  width: 55%;
  height: 60%;
  transform: translate(-50%, -50%);
}
.submarine__body {
  position: absolute;
  top: 70%;
  left: 40%;
  width: 70%;
  height: 35%;
  background: $subMarineColor;
  border-radius: 25px;
  transform: translate(-50%, -50%);
}
.submarine__propeller {
  position: absolute;
  left: 75%;
  top: 70%;
  width: 5%;
  height: 20%;
  transform: translate(0%, -50%);
}
.propeller__perspective
{
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  animation: propRotateInfinite 0.5s linear infinite;
  cursor: pointer;
}
.submarine__propeller-parts
{
  position: absolute;
  left: 0%;
  width: 100%;
  height: 100%;
  top: 0%;
  transform-style: preserve-3d;
}
.darkOne {
  top:0%;
  background: $propellerColor2;
  transform: rotateY(180deg)rotateX(225deg)
}
.lightOne {
  top:0%;
   background: $propellerColor;
  transform:rotateX(45deg);
}

.submarine__sail {
  position: absolute;
  top: 53%;
  left: 40%;
  width: 23%;
  height: 25%;
  transform: translate(-50%, -100%);
  background: $lightShadowColor2;
  clip-path: polygon(0% 0%, 70% 0%, 100% 100%, 0% 100%);
}

.submarine__sail-shadow {
  position: absolute;
  width: 160%;
  height: 10%;
  background: $darkShadowColor;
  border-radius: 5px;
}

.dark1 {
  left: 0%;
  top: 0%;
  transform: translate(0%, -33%);
}

.dark2
{
  left:0%;
  top:50%;
}

.light1{
  left:20%;
  top:20%;
  width:50%;
  background:$lightShadowColor;
}

.submarine__window {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-image: linear-gradient(45deg,$windowLightColor,#fff);
  border: 3px solid $darkShadowColor;
  animation: windowShadowChange 1s linear infinite;
}

.one,
.two {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.one {
  left: 40%;
}
.two {
  left: 20%;
}

.submarine__shadow-dark {
  position: absolute;
  left: 70%;
  top: 50%;
  width: 60px;
  height: 10%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background: $darkShadowColor;
}
.submarine__shadow-light {
  position: absolute;
  left: 35%;
  top: 13%;
  width: 25%;
  height: 10%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background: $lightShadowColor;
}
.submarine__shadow-arcLight {
  position: absolute;
  top: 45%;
  left: 77%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $lightShadowColor;
}
.submarine__periscope {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 15px;
  height: 50px;
  border-right: 7px solid $lightShadowColor3;
  border-top: 7px solid $lightShadowColor2;
  border-left: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-top-right-radius: 7px;
}
.submarine__periscope-glass {
  position: absolute;
  left: 30%;
  top: 9%;
  width: 5px;
  height: 15px;
  background: $propellerColor2;
  transform: translate(-50%, -15%);
}
.light {
  position: absolute;
  top: 9%;
  left: -8%;
  width: 200px;
  height: 100px;
  background: linear-gradient(to left, $lightColor, $oceanColor);
  /* The points are: centered top, left bottom, right bottom */
  clip-path: polygon(0% 0%, 50% 45%, 50% 55%, 0% 100%);
  transform: translate(-17%, -45%);
  z-index: 2;
}
.bubbles__container
{
  position:absolute;
  top:65%;
  left:50%;
  width:35%;
  height:20%;
  transform:translate(100%,-50%);
}
.bubbles
{
  position:absolute;
  width:5px;
  height:5px;
  border-radius:100%;
  left:0;
  top:0;
  background: $bunnyRed;
  opacity:0.8;
}
$bubble-class: bubble;

@for $i from 1 through 4{
  .#{$bubble-class}-#{$i}{
    top:12%*($i+1-1);
    left:1%;
    opacity: 0;
    animation: bubbleRight 1s infinite linear;
    animation-delay: 0.25s*$i;
	}
}

.ground__container
{
  position: absolute;
  top: 80%;
  left: 0%;
  width: 100%;
  height: 25%;
  background:$seaGroundColor2;
  margin-top:20px;
}

.ground1
{
  top:60%;
  height:100%;
  background:$seaGroundColor1;
}

.ground2
{
  position:absolute;
  top:30%;
  width:100%;
  height:100%;
  background:$seaGroundColor2;
}

.ground span
{
  position:absolute;
  width:60px;
  height:60px;
  border-radius:100%;
  
}

.ground1 span
{
  background:$seaGroundColor1;
}

.ground2 span
{
  background:$seaGroundColor2;
  width:80px;
  height:80px;
  border-radius:100%;
  transform:translateY(30%);
}

$ground-class: up;
@for $i from 1 through 20 
{
  .#{$ground-class}-#{$i}{
    left:-10%*($i+-1);
    top:-20px*($i*0.10);
    animation:moveGroundRight $i+2s infinite linear;
}
}

//animation

@keyframes windowShadowChange
{
  0%,100%
  {
    background-image: linear-gradient(45deg,$windowLightColor 0%,$windowLightColor 20% ,#fff 21%, #fff 39%, $windowLightColor 40%,#fff 41%,#fff 59%,$windowLightColor 60%);
  }
  20%
  {
    background-image: linear-gradient(45deg,$windowLightColor 20%,$windowLightColor 40% ,#fff 41%, #fff 59%, $windowLightColor 60%,#fff 61%,#fff 79%,$windowLightColor 80%);
  }
  40%
  {
    background-image: linear-gradient(45deg,$windowLightColor 40%,$windowLightColor 60% ,#fff 61%, #fff 79%, $windowLightColor 80%,#fff 81%,#fff 99%,$windowLightColor 0%);
  }
  60%
  {
    background-image: linear-gradient(45deg,$windowLightColor 60%,$windowLightColor 80% ,#fff 81%, #fff 99%, $windowLightColor 0%,#fff 1%,#fff 19%,$windowLightColor 20%);
  }
  80%
  {
    background-image: linear-gradient(45deg,$windowLightColor 80%,$windowLightColor 0% ,#fff 1%, #fff 19%, $windowLightColor 20%,#fff 21%,#fff 39%,$windowLightColor 40%);
  }
  
}

@keyframes bubbleRight {
  0%
  {
    opacity:0;
  }
  10%
  {
    opacity:0.4;
    transform:translate(10%,10%);
  }
  50%
  {
    opacity:0.2;
    transform:translate(450%,25%);
  }
  80%
  {
    opacity:0;
     transform:translateX(555%);
  }
  100%
  {
    opacity:0;
    left:0%;
    top:0%;
  }
}

@keyframes propRotateInfinite {
  0%
  {
    transform: rotateX(0deg);
  }
  50%
  {
    transform: rotateX(180deg);
  }
  100%
  {
    transform: rotateX(360deg);
  }
}

@keyframes moveGroundRight
{
 90%
  {
    opacity:1;
    left:100%;
  }
  95%,100%
  {
    left:1050%;
    opacity:0;
  }
}