@import 'index.scss';

.Farm {
  padding: 10px;
  padding-top: 0px;
  background: white;
  

  .Note {
    font-size: 0.8em;
    margin-bottom: 5px;
    color: $gray3;
  }

  .NoteStrong {
    font-size: 0.8em;
    margin-top: 5px;
    margin-bottom: 0px;
    color: $gray3;
  }

  .TableContainer {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    max-width: 1000px;
    margin-top: 20px;
  }
}