@import 'index.scss';

.Home {
  display: flex;
  flex-direction: row;
  flex: 1;
  background:  $background;//white;

  .main {
    flex: 1;
    position: relative;
  }

  @include mobile {
    flex-direction: column;
    max-height: initial;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .logo {
      width: 130px;
      padding: 30px 0px 0px 30px;
      margin-bottom: 20px;
    }

    @include tablet {
      display: none;
    }
  }

  .rightcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .toptab { 
    display: flex;
    padding: 10px;
    padding-left: 0px;
    @include tablet {
      padding-left: 10px;
    }
  }

  .secondtab {
    display: flex;
    color: $white700;
    // background: $background; //white;
    // padding-left: 10px;
    // padding-top: 8px;
    padding: 10px;
    gap:20px;
    margin-bottom: 5px;
    @include mobile {
      margin-top: 5px;
      padding-bottom: 0px;
    }
  }

  .titletext {
    color:  $white;// $gray4;
    cursor: pointer;
    margin-right: 20px;
    font-size: 2em;
    @include miniphone {
      font-size: 1.6em;
    }
  }

  .titletextActive {
    color: $white700 ;//$blue;
    text-decoration: underline;
    text-decoration-color: $blue;
    cursor: pointer;
    margin-right: 20px;
    font-size: 2em;
    @include miniphone {
      font-size: 1.6em;
    }
  }

  .subtitletext {
    color: $gray4;
    cursor: pointer;
    // padding-right: 15px;
    font-family: 'MrEavesXL', MessinaMonoSemiBold;
  }

  .subtitletextActive {
    color: $white; //$gray2;
    margin-bottom: 8px;
    border-bottom: 2px solid $blue;
    // text-decoration: underline;
    // text-decoration-color: $blue;
    cursor: pointer;
    // padding-right: 15px;
    font-family: 'MrEavesXL',MessinaMonoSemiBold;
  }

}