# L1 beacon chain RPC URL
ETH2_HTTP=

# optional
# erigon client version
# The default value is the latest version of erigon
ERIGON_VERSION=
# geth client version
# The default value is the latest version of geth
GETH_VERSION=
# op-node version
# The default value is the latest version of op-node
OP_NODE_VERSION=
# L1 RPC URL
# The default value is https://sepolia.gateway.tenderly.co
ETH1_HTTP=
# Legacy L2 HTTP PORT
# The default value is 8545
LEGACY_L2_HTTP_PORT=
# Legacy L2 WS PORT
# The default value is 8546
LEGACY_L2_WS_PORT=
