@import 'index.scss';

/*The basic wrapper*/

.Varna {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
  margin-left: 5px;
  margin-bottom: 20px;
  background: white;
  @include tablet {
    flex-direction: column;
  }
}

/*The main top left box with the three subboxes*/

.VarnaCube {
  width: 98%;
  max-width: 820px;
}

/*The main two subboxes, top row*/

.VarnaCubeTopTwo {
  display: flex;
  flex-direction: row;
  width: 820px;
  @include mobile {
    flex-direction: column;
    width: 100%;
  }
}

/*Amount to buy and sell etc*/
.VarnaInput {
  flex: 1;

  @include mobile {
    margin-right: 0px;
    max-width: 500px;
  }

  //The token name and the amount to sell
  .Entry {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .Summary {
    font-size: 0.8em; 
    font-weight: bold;
    color: $gray2;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: $red1;
    border-radius: 3px;
  }

  .Verify {
    font-style: italic;
    font-size: 0.7em; 
    font-weight: bold;
    color: $gray2;
    margin: 0px;
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: $red1;
  }
}

.VarnaHistory {
  flex: 1;
  margin: 0px;
  padding: 0px;
  margin-left: 5px;

  @include mobile {
    margin-left: 0px;
    margin-top: 5px;
  }
}

.LongHistory {
  width: 820px;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;

  @include tablet {
    width: 100%;
  }
}

.PriceContainer {
  width: 265px;
  margin-left: 6px;
  margin-top: 0px;
  @include tablet {
    width: 100%;
    padding: 0px;
    margin: 0px;
    max-width: 837px;
  }
}

.Submarine {
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
  max-width: 500px;
  @include mobile {
    margin-left: unset;
  }
}