allFiredEvents
.build-temp
build
build_
build-ovm
node_modules
.env
.certora*
certora_*
coverage/
coverage.json
coverageEnv/
emv-*/
formulas/
networks/test.json
networks/test-abi.json
networks/coverage.json
networks/coverage-abi.json
networks/development.json
networks/development-abi.json
networks/coverage-contracts/*
networks/test-contracts/*
networks/*-contracts.json
networks/*-history
networks/*-settings.json
outputs/
Reports/
scTopics
*.DS_Store
test-results.xml
.tsbuilt
yarn-error.log
scenario/build/webpack.js
.scencache
.solcache
.solcachecov
scenario/.tscache
script/certora
tests/scenarios/
junit.xml
.build
.last_confs
.saddle_history
