@import 'index.scss';

/* ===============================
 css Tables
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: normal;
  margin: 0;
  padding: 0;
}

/*wrapper for the table*/
.RtableWB {
  font-weight: 500;
  font-size: 0.8em;
  color: $gray1;
}

.RtableHeader {
  font-weight: 500;
  margin-top: 10px;
}

.Rtable_cell {
  box-sizing: border-box;
  width: 80px;
  margin-right: 3px;
  padding-left: 2px;
  overflow: hidden;
  list-style: none;
  text-align: left;
  align-items: flex-start;
}

.Rtable_cell:nth-child(7) {
  box-sizing: border-box;
  flex-grow: 1;
  margin-right: 0px;
  overflow: hidden;
  list-style: none;
  text-align: left;
  align-items: flex-start;
}

.Rtable_flex_column {
  flex-direction: column
}

.Rtable_row_height {
  min-height: 20px;
  padding: 2px;
}

.statusGreen {
  color: $green;
}

.statusRed {
  color: $red;
}

.cancelContainer {
  display: flex;
  justify-content: space-between;
  .cancelButton {
    width: 100px;
    flex: none;
    border-radius: 5px;
    justify-content: center;
    overflow: hidden;
  }
  @media screen and (max-width: 750px) {
    .cancelButton {
      display: none;
    }
  }
}