@import 'index.scss';

.metamask {
  background: #F2F3F4;
  border: 1px solid #A9A9A9;
  width: 350px;
  height: 55px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  .button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 160px;
    border-radius: 20px;
    border: 1px solid #484848;
    font-size: 0.7em;
    font-weight: 500;
    color: #484848;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .account{
    height: 40px;
    width: 40px;
  }
}

.largeArrow {
  width: 60px;
  height: 60px;
}