@import 'index.scss';

.WrongNetworkModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'MrEavesXL', 'Messina';
  text-align: center;
  position: relative;
  padding: 40px;
  @include mobile {
    padding: 20px;
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
    height: 15px;
    cursor: pointer;
  }
  h2 {
    color: $gray1;
  }

  .content {
    max-width: 220px;
    .description {
      margin: 20px 0;
      font-size: 0.9em;
    }
    .currentNetwork {
      background-color: $gray4;
      color: $gray6;
      border-radius: 6px;
      padding: 15px 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;
    }
    .network {
      background-color: $gray6;
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $gray4;
      margin-bottom: 1px;
      &:first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
      &:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
    .indicator {
      background-color: $gray5;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      margin-right: 10px;
      &.active {
        background-color: $green;
      }
    }
    .otherNetworks {
      background-color: $gray6;
      border-radius: 6px;
      padding: 10px;
    }
    .arrow {
      width: 20px;
      opacity: 0.2;
      transform: rotate((-90deg));
    }
  }
}
