# dependencies
node_modules
/.pnp
packages/*/.env
app/*/.env
.npmrc

# testing
/coverage

# build artifacts
**/build/
**/dist/
**/tsconfig.tsbuildinfo
.nx

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

# ponder
**/.ponder
**/generated

# cert files
*.crt
*.pem
*.key