@import 'index.scss';

.Info {

  display: flex;
  flex-direction: column;

  .header {
    padding-bottom: 5px;
    font-family: 'MrEavesXL', 'Messina';
  }

  .item {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    word-break: break-word;

    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid $gray3;

    span:last-child {
      margin-left: 10px;
    }

    .headerFont {
      font-family: 'MrEavesXL','Messina';
      width: 90px;
    }

    .infoText {
      font-family: 'MrEavesXL', 'Messina';
      font-size: 0.8em;
      font-style: italic;
      padding-right: 30px;
      min-width: 100px;
    }

  }
}