@import 'index.scss';


$dropDownHeight: 120px;
$boxDropDownHeight: 50px;

.Transaction {

  display: flex;
  flex-direction: row;
  transition: all 200ms ease-in-out;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  background: transparent;
  padding: '10px';
  // box-shadow: 0 0 4px $gray4;
  border-radius: 10px;
  @include mobile {
    flex-direction: column;
    padding: 15px 10px;
  }

  .transactionItem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    .title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // font-size: 1.1em;
    }
    .subTitle {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 5px;
      // font-size: 0.8em;
      color: $white700; //$gray4;
    }
    .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
      font-size: 16px;
    }
    .viewMore {
      flex-direction: row;
      text-decoration: underline;
    }

    .dropDownContainer {
      height: $dropDownHeight;
      animation: openDropDown 1s;
      overflow: hidden;
      background: rgba(9, 22, 43, 0.5);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
  
    .closeDropDown {
      height: 0px;
      animation: closeDropDown 1s;
      overflow: hidden;
      background: rgba(9, 22, 43, 0.5);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .dropDownInit {
      height: 0px;
      overflow: hidden;
    }
  
    .boxContainer {
      height: $boxDropDownHeight;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    /*************************/
    @keyframes openDropDown {
      0% {
        height: 0px;
      }
      100% {
        height: $dropDownHeight;
      }
    }
  
    @keyframes closeDropDown {
      0% {
        height: $dropDownHeight;
      }
      100% {
        height: 0px;
      }
    }
  
    /*************************/
  }
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  div:last-child {
    margin-top: 10px;
    font-size: 0.7em;
  }
  @include mobile {
    margin-bottom: 10px;
  }
}

.midTitle {
  margin-top: 10px;
  color: $gray6;
  font-size: 0.8em;
}

.statusContainer {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  font-size: 0.9em;
  @include mobile {
    text-align: left;
    align-items: flex-start;
  }
  div:last-child {
    margin-top: 10px;
    font-size: 0.8em;
  }
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  div:last-child {
    font-size: 0.8em;
  }
  @include mobile {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .indicator {
    margin: 0 10px 0 0;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    @include mobile {
      margin-left: 10px;
    }
  }
  .pending {
    background-color: $yellow;
  }
  .exited {
    background-color: $green;
  }
  .failed {
    background-color: $red;
  }
}

.percentage {
  margin-left: 10px;
  @include mobile {
    margin-left: 0;
    margin-right: 10px;
  }
}

.button {
  color: $white;//$gray6;
  border: 1.4px solid $blue;// #506DFA;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    background-color: $blue;
  }

}

.href {
  text-decoration: underline;
} 

.divider {
  height: 0px;
  width: 90%;
  margin: 5px auto;
  position: relative;
  z-index: 1;

  &::before{ 
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) -0.74%, rgba(255, 255, 255, 0.0414) 8.18%, rgba(255, 255, 255, 0.0408) 90.07%, rgba(255, 255, 255, 0) 100.04%);
  }

}