@import 'index.scss';


$dropDownHeight: 120px;
$boxDropDownHeight: 50px;

.Transaction {

  display: flex;
  flex-direction: row;
  transition: all 200ms ease-in-out;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  background: transparent;
  box-shadow: 0 0 4px $gray4;
  border-radius: 10px;
  @include mobile {
    flex-direction: column;
    padding: 15px 10px;
  }

  .transactionItem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.1em;
    }
    .subTitle {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 5px;
      font-size: 0.8em;
      color: $gray4;
    }
    .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
      font-size: 0.8em;
    }
    .viewMore {
      flex-direction: row;
      text-decoration: underline;
    }

    .dropDownContainer {
      height: $dropDownHeight;
      animation: openDropDown 1s;
      overflow: hidden;
      background-color: $gray7;
      display: flex;
      flex-direction: column;
      padding: 5px;
    }
  
    .closeDropDown {
      height: 0px;
      animation: closeDropDown 1s;
      overflow: hidden;
      background-color: $gray7;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .dropDownInit {
      height: 0px;
      overflow: hidden;
    }
  
    .boxContainer {
      height: $boxDropDownHeight;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    /*************************/
    @keyframes openDropDown {
      0% {
        height: 0px;
      }
      100% {
        height: $dropDownHeight;
      }
    }
  
    @keyframes closeDropDown {
      0% {
        height: $dropDownHeight;
      }
      100% {
        height: 0px;
      }
    }
  
    /*************************/
  }
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  div:last-child {
    margin-top: 10px;
    font-size: 0.7em;
  }
  @include mobile {
    margin-bottom: 10px;
  }
}

.midTitle {
  margin-top: 10px;
  color: $gray6;
  font-size: 0.8em;
}

.statusContainer {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  font-size: 0.9em;
  @include mobile {
    text-align: left;
    align-items: flex-start;
  }
  div:last-child {
    margin-top: 10px;
    font-size: 0.8em;
  }
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  div:last-child {
    font-size: 0.8em;
  }
  @include mobile {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .indicator {
    margin: 0 10px 0 0;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    @include mobile {
      margin-left: 10px;
    }
  }
  .pending {
    background-color: $yellow;
  }
  .exited {
    background-color: $green;
  }
  .failed {
    background-color: $red;
  }
}

.percentage {
  margin-left: 10px;
  @include mobile {
    margin-left: 0;
    margin-right: 10px;
  }
}

.button {
  color: $gray6;
  background-color: $blue;
  padding: 5px 10px;
  cursor: pointer;
}

.href {
  text-decoration: underline;
} 