@import 'index.scss';

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
  width: 98%;
  @include tablet {
    justify-content: space-between;
  }
}

.searchBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $gray6;
  padding: 5px;
  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.searchRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  margin-top: 4px;
  @include tablet {
    margin-top: 0px;
  }
  .icon {
    padding-left: 3px;
    padding-right: 10px;
  }
}

/* Each of the subdisplays */
.priceTickersContainer {
  position: relative;
}

.priceTickerContainer {
  position: relative;
  display: inline-block;
  width: 260px;
  vertical-align: top;
  margin-right: 5px;
  margin-top: 0px;
  .icon {
    position: absolute;
    right: 10px;
    top: 5px;
    color: $red;
    cursor: pointer;
  }
}

/* ===============================
 css Tables
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: normal;
  margin: 0;
  padding: 0;
}

/*wrapper for the table*/
.RtableWB {
  font-weight: 500;
  font-size: 0.8em;
  color: $gray3;
  padding: 5px;
  padding-top: 0px;
}

.RtableHeader {
  font-weight: 500;
  margin-top: 0px;
}

.RtableGL {
  font-weight: normal;
  border-top: 1px solid #D8D8D8;
}

.Rtable_cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 23%;
  overflow: hidden;
  list-style: none;
  text-align: left;
  align-items: flex-start;
}

.Rtable_line {
  border-top: 1px solid $gray2;
  margin-top: 2px;
  margin-bottom: 5px;
}