@import 'index.scss';

.Input {

  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

  .label {
    font-size: 0.9em;
    margin-bottom: 5px;
  }

  .field {
    position: relative;
    transition: all 200ms ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;

    .icon {
      margin-right: 5px;
      position: absolute;
      top: 8px;
      left: 5px;
    }
    .icon + .input {
      padding-left: 30px;
    }
    .input{
      flex: 1;
      // background-color: $gray6;
      // color: $gray3;
      height: 40px;
      width: 130px;
      padding: 0px 5px;
      // padding-left: 40px;
      line-height: 40px;
      border: 0;
      color: #F0A000;
      border-radius: 8px;
      font-size: 16px;
      background: rgba(9, 22, 43, 0.5);
      // box-shadow: -13px 15px 19px rgb(0 0 0 / 15%), inset 53px 36px 120px rgb(255 255 255 / 6%);
      &:focus-within {
        box-shadow: 0 0 0 1px $blue inset;
      }
    }
    .small {
      font-size: 0.7em;
      padding: 4px;
      color: $gray2;
      background-color: white;
    }
    .unit {
      margin: 0 10px;
      position: absolute;
      right: 0;
      // background-color: $gray6;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .isPaste {
      position: relative;
    }
    .paste {
      color: $blue;
      margin-left: 10px;
      cursor: pointer;
    }
    &.error {
      border: 2px solid $red;
      color: $red;
      .input {
        color: $red;
      }
    }
  }
}

.maxValue {
  background-color: $blue;
  opacity: 0.8;
  color: white;
  padding: 3px 7px;
  font-size: 12px;
  border-radius: 4px;
  margin-right: 10px;
  z-index: 1;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  &:active {
    opacity: 0.5;
  }
}
