@import 'index.scss';

.mainContainer {
  .pulsate {
    animation: pulseAnimation 2s infinite;
  }
  
}

.container { 
  color: $gray2;
  padding: 2px;
  border: solid 1px #ff8080;
  box-sizing: border-box;
  font-size: 0.7em;
  transition: all 200ms ease-in-out;
  margin-bottom: 5px;
  position: relative;
}

.line {
  padding-Top: 3px;
}

.lineHC {
  padding-Top: 3px;
}

.decryptOpen {
  animation: openDecryption 1s;
  overflow: hidden;
  margin-top: 10px;
}

.decryptClose {
  animation: closeDecryption 1s;
  overflow: hidden;
  max-height: 0px;
}

.decryptCloseInitial {
  display: none;
}

@keyframes openDecryption {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 150px;
  }
}

@keyframes closeDecryption {
  0% {
    max-height: 150px;
    margin-top: 10px;
  }
  100% {
    max-height: 0px;
    margin-top: 0px;
  }
}

@keyframes pulseAnimation {
  0% {
    background: yellow;
  }
  100% {
  }
}

.topBorder {
  border-top: 2px solid $gray2;
  margin-top: 10px;
  margin-bottom: 10px;
}

.statusBar {
  font-family: 'MessinaMonoSemiBold';
  padding-Top: 3px;
  .statusGreen {
    color: $green;
  }
  .statusRed {
    color: $red;
  }
}

.topInfoContainer {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .topLeftContainer {
    width: 70%;
    min-width: 180px;
  }

  .topRightContainer {
    width: 30%;
    max-width: 150px;
    max-width: calc(100% - 180px);
    padding-left: 10px;
    float: right;
    display: flex;
    justify-content: flex-end;

    .buttonContainer {
      display: inline-block;
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }

}

.bottomRedInfoContainer {
  background: $red;
  color: white;
  max-height: 200px;
  padding: 3px;
  margin-top: 3px;
}

.bottomGreenInfoContainer {
  background: $gray6;
  color: $gray2;
  max-height: 200px;
  padding: 3px;
  margin-top: 3px;
}