# Example .env file for internal devnet.

ESPRESSO_DEV_NODE_L1_DEPLOYMENT=skip
# generated with ./scripts/espresso-allocs-to-env.jq ./environment/allocs.json
ESPRESSO_SEQUENCER_ESP_TOKEN_ADDRESS=0x00c042c4d5d913277ce16611a2ce6e9003554ad5
ESPRESSO_SEQUENCER_PLONK_VERIFIER_V2_ADDRESS=0x422a3492e218383753d8006c7bfa97815b44373f
ESPRESSO_SEQUENCER_STAKE_TABLE_ADDRESS=0x63e6dde6763c3466c7b45be880f7ee5dc2ca3e25
ESPRESSO_SEQUENCER_LIGHT_CLIENT_PROXY_ADDRESS=0x703848f4c85f18e3acd8196c8ec91eb0b7bd0797
ESPRESSO_SEQUENCER_FEE_CONTRACT_PROXY_ADDRESS=0x72ae2643518179cf01bca3278a37cead408de8b2
ESPRESSO_SEQUENCER_FEE_CONTRACT_ADDRESS=0x8f0342a7060e76dfc7f6e9debfad9b9ec919952c
ESPRESSO_SEQUENCER_STAKE_TABLE_PROXY_ADDRESS=0x9f5eac3d8e082f47631f1551f1343f23cd427162
ESPRESSO_SEQUENCER_ESP_TOKEN_PROXY_ADDRESS=0x9fcf7d13d10dedf17d0f24c62f0cf4ed462f65b7
ESPRESSO_SEQUENCER_PLONK_VERIFIER_ADDRESS=0xb4b46bdaa835f8e4b4d8e208b6559cd267851051

# TODO: After fixing all services, determine whether it is unnecessary to specify the
# following ports.
# <https://app.asana.com/1/1208976916964769/project/1209392461754458/task/1210662897601844?focus=true>
ESPRESSO_SEQUENCER_API_PORT=24000
ESPRESSO_DEV_NODE_PORT=24002
ESPRESSO_BUILDER_PORT=31003

ESPRESSO_URL=http://espresso-dev-node:$ESPRESSO_SEQUENCER_API_PORT,http://espresso-dev-node:$ESPRESSO_SEQUENCER_API_PORT

L1_ENGINE_PORT=8551
L1_HTTP_PORT=8545
L1_BEACON_PORT=5052

ROLLUP_PORT=9545

OP_ENGINE_PORT=8552
OP_HTTP_PORT=8546

OPERATOR_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
# cast wallet address --private-key $OPERATOR_PRIVATE_KEY
OPERATOR_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

L1_CHAIN_ID=11155111
L2_CHAIN_ID=22266222
