@import 'index.scss';

.Tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // border-bottom: 2px solid $gray6;
  flex: 1;
  margin-bottom: 20px;

  .tab {
    padding-bottom: 10px;
    color: $white700;
    transition: color 200ms ease-in-out;
    cursor: pointer;
    margin-right: 20px;
  }

  .active {
    color: $white;
    border-bottom: 2px solid $blue;
    margin-bottom: -2px;
    z-index: 1;
  }
}

