@import 'index.scss';

.Copy {
  .icon {
    cursor: pointer;
    background-color: #506DFA;//$green;
    border: 1.5px solid #506DFA;
    padding: 2px;
    border-radius: 8px; /// 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    svg {
      width: 14px;
      height: 14px;
    }
  }

  .light {
    background-color: $gray3;
    color: $gray6;
  }
}
