# TODO: Prefix all env vars with service name
# TODO: Allow specifing the image tag to use
version: "3"

services:
  # base service builder
  builder:
    image: ethereumoptimism/builder
    build:
      context: ..
      dockerfile: ./ops/docker/Dockerfile.monorepo

  # this is a helper service used because there's no official hardhat image
  l1_chain:
    image: ethereumoptimism/hardhat
    network_mode: 'host'
    build:
      context: ./docker/hardhat
      dockerfile: Dockerfile

  deployer:
    image: ethereumoptimism/deployer
    network_mode: 'host'
    build:
      context: ..
      dockerfile: ./ops/docker/Dockerfile.deployer
    entrypoint: ./deployer.sh
    environment:
        FRAUD_PROOF_WINDOW_SECONDS: 0
        L1_NODE_WEB3_URL: http://127.0.0.1:8545
        # these keys are hardhat's first 2 accounts, DO NOT use in production
        DEPLOYER_PRIVATE_KEY: "0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
        SEQUENCER_PRIVATE_KEY: "0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d"
        # skip compilation when run in docker-compose, since the contracts
        # were already compiled in the builder step
        NO_COMPILE: 1

  dtl:
    image: ethereumoptimism/data-transport-layer
    network_mode: 'host'
    build:
      context: ..
      dockerfile: ./ops/docker/Dockerfile.data-transport-layer
    # override with the dtl script and the env vars required for it
    entrypoint: ./dtl.sh
    env_file:
      -  ./envs/dtl.env
    # set the rest of the env vars for the network whcih do not
    # depend on the docker-compose setup
    environment:
        # used for setting the address manager address
        URL: http://deployer:8081/addresses.json
        # connect to the 2 layers
        DATA_TRANSPORT_LAYER__L1_RPC_ENDPOINT: http://127.0.0.1:9545
        DATA_TRANSPORT_LAYER__L2_RPC_ENDPOINT: http://127.0.0.1:8545
        DATA_TRANSPORT_LAYER__L2_CHAIN_ID: 420

  l2geth:
    image: ethereumoptimism/l2geth
    network_mode: 'host'
    build:
      context: ..
      dockerfile: ./ops/docker/Dockerfile.geth
    # override with the geth script and the env vars required for it
    entrypoint: sh ./geth.sh
    env_file:
      - ./envs/geth.env
    environment:
        ETH1_HTTP: http://127.0.0.1:8545
        ROLLUP_STATE_DUMP_PATH: http://127.0.0.1:8081/state-dump.latest.json
        # used for getting the addresses
        URL: http://127.0.0.1:8081/addresses.json
        # connecting to the DTL
        ROLLUP_CLIENT_HTTP: http://127.0.0.1:7878
        ETH1_CTC_DEPLOYMENT_HEIGHT: 8
        RETRIES: 60

  relayer:
    image: ethereumoptimism/message-relayer
    network_mode: 'host'
    build:
      context: ..
      dockerfile: ./ops/docker/Dockerfile.message-relayer
    entrypoint: ./relayer.sh
    environment:
        L1_NODE_WEB3_URL: http://127.0.0.1:8545
        L2_NODE_WEB3_URL: http://127.0.0.1:8545
        URL: http://127.0.0.1:8081/addresses.json
        # a funded hardhat account
        L1_WALLET_KEY: "0xdbda1821b80551c9d65939329250298aa3472ba22feea921c0cf5d620ea67b97"
        RETRIES: 60
        POLLING_INTERVAL: 500
        GET_LOGS_INTERVAL: 500

  batch_submitter:
    image: ethereumoptimism/batch-submitter
    network_mode: 'host'
    build:
      context: ..
      dockerfile: ./ops/docker/Dockerfile.batch-submitter
    entrypoint: ./batches.sh
    env_file:
      - ./envs/batches.env
    environment:
        L1_NODE_WEB3_URL: http://127.0.0.1:8545
        L2_NODE_WEB3_URL: http://127.0.0.1:9545
        URL: http://127.0.0.1:8081/addresses.json
        SEQUENCER_PRIVATE_KEY: "0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d"
