<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png"> -->

    <!-- HTML Meta Tags -->
    <title>__TITLE__</title>
    <meta name="description" content="rbuilder benchmarks for __HEAD_SHA_SHORT__, brought to you by Flashbots ⚡️🤖">

    <!-- Facebook Meta Tags -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="__TITLE__">
    <meta property="og:url" content="__URL__">
    <meta property="og:description" content="rbuilder benchmarks for __HEAD_SHA_SHORT__, brought to you by Flashbots ⚡️🤖">
    <meta property="og:image" content="__STATIC_URL__/og-image.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="__TITLE__">
    <meta property="twitter:url" content="__URL__">
    <meta name="twitter:description" content="rbuilder benchmarks for __HEAD_SHA_SHORT__, brought to you by Flashbots ⚡️🤖">
    <meta name="twitter:image" content="__STATIC_URL__/og-image.jpg">

    __STYLE__
</head>