@import 'index.scss';

.TableContainer {
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  // max-width: 400px;
  margin-top: 10px;
}

.under {
  font-size: 0.8em;
}

.BalanceWrapper{

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 15px;
  padding-bottom: 40px;
  width: 80wv;
  min-width: 800px;

  .balanceContent {
    border-radius: 8px;
    padding: 20px 10px;
    background: $background400;
    max-width: 40%;
    width: 40%;
    min-width: 400px;

    .title {
      display: flex;
      justify-content: center;
      margin: 10px auto;
      color: $white;
      font-size: 20px;
      font-family: 'MrEavesXL','Messina';
      // span:first-child {
      //   font-size: 0.8rem;
      // }
      p {
        margin: 0px;
      }

      .muted {
        color: $white700 !important;
        margin-right: 10px;
      }
    }
  }

  @include mobile {
    flex-direction: column;
    font-size: 0.8em;
    padding: 15px;
    width: 100%;
  }
}   

.Account {
  padding: 10px;
  padding-top: 0px;
  // background: $background;// white;
}

.logo {
  margin-bottom: 40px;
  height: 50px;
}

.bunny {
  width: 200px;
  @include mobile {
    width: 140px;
  }
}

.RabbitBox {
  display: flex;
  flex-direction: row;
  align-content: left;
  @include mobile {
    padding-left: 20px;
  }
}

.RabbitRight {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 10px;
  align-items: center;
  justify-content: space-between;
}

.RabbitRightTop {
  font-size: 1em;
  width: 100%;
  align-items: left;
}

.RabbitRightMiddle {
  width: 100%;
  align-items: left;
  text-align: left;
  .sad {
    color: #ff6868;
    font-size: 4em;
    @include mobile {
      font-size: 3em;
    }
  }
  .happy {
    color: #0ebf9a;
    font-size: 4em;
    @include mobile {
      font-size: 3em;
    }
  }
}

.RabbitRightBottom {
  font-size: 1.0em;
  width: 100%;
  align-items: left;
  padding-bottom: 20px;
}

.RabbitRightBottomNote {
  font-size: 0.9em;
  width: 100%;
  max-width: 400px;
  align-items: left;
  padding-bottom: 20px;
}

.wallet {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  @include mobile {
    justify-content: space-between;
  }
  .address {
    margin-right: 20px;
    @include mobile {
      font-size: 0.8em;
    }
  }
}

.dim {
  background: $gray7;
  color: $gray4;
}

.active {
  background: $bunnyRed;
  color: $gray6;
}

.balances {

  display: flex;
  flex-direction: row;

  @include mobile {
    flex-direction: column;
  }
  
  .boxWrapper {

    padding: 0px;
    display: flex;
    flex-direction: column;
    
    @include mobile {
      font-size: 0.8em;
      padding: 15px;
    }
    
    /*this is the red/pink data box*/
    .box {

      padding: 20px;
      min-width: 350px;

      .buttons {

        margin: 20px -20px -20px -20px;
        @include mobile {
          margin: 15px -15px -15px -15px;
        }
        display: flex;
        flex-direction: row;
        button {
          flex: 1;
        }
      }

      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .actions {
          display: flex;
          flex-direction: row;
          align-items: center;
          @include mobile {
            flex-direction: column;
            align-items: flex-end;
          }
        }
        .title {
          display: flex;
          // flex-direction: column;
          font-family: 'MrEavesXL','Messina';
          span:first-child {
            font-size: 0.8rem;
          }
        }
        .transfer {
          font-size: 0.8em;
          font-family: 'MrEavesXL', 'Messina';
          cursor: pointer;
          border-radius: 20px;
          padding: 7px;
          border: 2px solid $gray6;
          filter: brightness(100%);
          display: flex;
          flex-direction: row;
          align-items: center;
          svg {
            margin-right: 10px;
            width: 15px;
            height: 15px;
          }
          &:first-child {
            margin-right: 10px;
            @include mobile {
              margin-right: 0px;
              margin-bottom: 5px;
            }
          }
        }
        .disabled {
          pointer-events: none;
          border: 2px solid $gray3;
          color: $gray3;
          filter: brightness(75%);
        }
      }

      .row {
        display: flex;
        background: blue;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        padding: 5px;

        .token {
          display: flex;
          background: green;
          flex-direction: row;
          align-items: center;
          .symbol {
            margin-right: 10px;
          }
        }
      }
    }

    .boxActions {
      
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      @include mobile {
        font-size: 0.8rem;
        padding: 15px;
      }

      .buttons {
        margin: 0;
        padding: 0;
        padding-bottom: 5px;
      }
    }
  }
}