@import 'index.scss';

$dropDownHeight: 60px;
$boxDropDownHeight: 50px;

.underRed {
  font-size: 16px;//0.7em;
  color: $red;
  width: 90%;
}

.ListAccount {
  
  // border-bottom: 1px solid rgb(233, 234, 235);
  margin-bottom: 5px;

  .topContainer {
    
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

    .Table1 {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 7px;
      min-width: 40px;
    }

    .Table2 {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      min-width: 150px;
      padding: 7px;
      font-size: 0.9em;
    }

    .Table3 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 7px;
    }

    @media screen and (max-width: 800px) {
      /*
      .Table3 {
        display: none;
      }
      .Table4 {
        display: none;
      }
      */
    }

  }

  .dropDownContainer {
    height: $dropDownHeight;
    animation: openDropDown 1s;
    overflow: hidden;
    // background-color: $gray7;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .closeDropDown {
    height: 0px;
    animation: closeDropDown 1s;
    overflow: hidden;
    // background-color: $gray7;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .dropDownInit {
    height: 0px;
    overflow: hidden;
  }

  .boxContainer {
    height: $boxDropDownHeight;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*************************/
  @keyframes openDropDown {
    0% {
      height: 0px;
    }
    100% {
      height: $dropDownHeight;
    }
  }

  @keyframes closeDropDown {
    0% {
      height: $dropDownHeight;
    }
    100% {
      height: 0px;
    }
  }

  /*************************/
  .BasicText {
    font-size: 1em;
    font-weight: 700;
  }

  .BasicLightText {
    font-size: 1em;
    font-weight: 700;
    color:  $white700;//$gray4;
  }

  .LargeBlueText {
    font-size: 1.5em;
    font-weight: 700;
    color: $blue;
  }

  .LinkText {
    font-size: 1em;
    font-weight: 700;
    color: $white; //$green;
  }

  .LinkTextOff {
    font-size: 1em;
    font-weight: 700;
    color: $white500; //$gray4;
  }

  .LinkButton {
    color: $green;
  }

  .LinkButtonOff {
    color: $gray4;
  }


  .smallButton{
    border-radius: 10px;
    width: 100px !important;
    flex: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .largeButton{
    border-radius: 10px;
    width: calc(100% - 30px);
    flex: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.divider {
  height: 0px;
  width: 90%;
  margin: 5px auto;
  position: relative;
  z-index: 1;

  &::before{ 
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) -0.74%, rgba(255, 255, 255, 0.0414) 8.18%, rgba(255, 255, 255, 0.0408) 90.07%, rgba(255, 255, 255, 0) 100.04%);
  }

}