name: CI - Build, Test, Lint

on: 
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - master

jobs:
  build-test-lint:
    name: Run Test Suite on Node ${{matrix.node}}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [ '10', '11' ]

    steps:
      - uses: actions/checkout@v2
        
      - name: Setup node ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install
        run: yarn install

      - name: Lint
        run: yarn lint

      - name: Build
        run: |
          yarn clean
          yarn build

      - name: Test
        run: yarn test
