name: Test Contracts

on: pull_request

jobs:
  unit:
    name: Contracts work
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
    - name: Install Toolchain (Node and Make)
      run: |
        sudo apt-get update
        sudo apt-get -y --no-install-recommends install nodejs make cmake pkg-config
        npm install --global pnpm
    - name: Install Dependencies
      run: make nodejs
    - name: Hardhat Test
      run: make test_contracts
